@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    // Primary
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    // Neutral
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --bright-blue-purpleish: hsl(245, 75%, 52%, 75%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: url("images/pattern-background-mobile.svg") no-repeat;
    background-size: 100%;
    background-color: var(--pale-blue);
    font-size: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
    width: 330px;
    background-color: #fff;
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 55px 50px -15px rgba(31, 47, 86, 0.14);

    overflow: hidden;
    text-align: center;

    &__body {
        padding: 1.5em 1.5em 2em;
    }
    &__image {
        width: 100%;
    }
    &__title {
        font-size: 1.35rem;
        // font-size: clamp(1.35rem, 2vw, 1.75rem);
        font-weight: 900;
        margin-bottom: 0.8em;
    }
    &__description {
        font-size: .99em;
        color: var(--desaturated-blue);
        line-height: 1.5rem;
        padding: 0 .5em;
    }
    &__payment {
        display: block;
        width: 100%;

        font-size: .95rem;
        font-weight: 700;
        color: #fff;
        cursor: pointer;

        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 20px 20px 0px hsl(245, 75%, 52%, 20%);
        background-color: var(--bright-blue);

        border-radius: 10px;
        border: 0;
        padding: 1em;
        margin-bottom: 1.5em;

        &:hover, &:focus {
            background-color: var(--bright-blue-purpleish);
        }
    }
    &__cancel {
        font-size: .9rem;
        font-weight: 900;
        color: var(--desaturated-blue);
        text-decoration: none;

        &:hover, &:focus {
            color: var(--dark-blue);
        }
    }
}

.subscription-card {
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 1em;
    margin: 2em 0;

    font-size: 0.9rem;

    display: flex;
    align-items: center;

    &__icon {
        flex: 1;
        margin-right: 1em;
    }
    &__body {
        flex: 2;
    }
    &__action {
        flex: 2;
        text-align: right;

        a {
            font-size: .8rem;
            font-weight: 900;
            color: var(--bright-blue);
            &:hover, &:focus {
                color: var(--bright-blue-purpleish);
                text-decoration: none;
            }
        }
    }

    &__title,
    &__cost {
        font-size: .85rem;
    }
    &__title {
        font-weight: 900;
        margin-bottom: .2em;
    }
    &__cost {
        color: var(--desaturated-blue);
    }
}

.attribution {
    position: absolute;
    background: white;
    width: 200px;
    bottom: 0;
    right: 0;
    padding: 1em;
    border-top-left-radius: 5px;
    font-size: 0.7rem;
    text-align: left;
    color: hsl(228, 45%, 44%);
}



@media only screen and (min-width: 600px) {
    body {
        background-image: url("images/pattern-background-desktop.svg");
    }

    .card {
        width: 450px;

        &__body {
            padding: 2.5em 3em 3.5em;
        }
        &__title {
            font-size: 1.75rem;
            margin-bottom: 0.6em;
        }
        &__description {
            font-size: 1rem;
            line-height: 1.6rem;
            padding: 0 1.5em;
        }
        &__payment {
            margin-bottom: 2em;
        }
    }

    .subscription-card {
        padding: 1.5em;
        margin: 1.5em 0 2.5em;

        &__action {
            flex: 3;
            font-size: .9rem;
            a {
                margin-right: 0.5em;
            }
        }
        &__title,
        &__cost {
            font-size: 1rem;
        }
    }
}